/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}

/* 全域設定 */
*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  line-height: 1.5;
}

/* nav-bar */
.nav-list {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.nav-list-item,
.nav-list-item a {
  color: white;
  font-size: 16px;
}

/* main */
.container {
  max-width: 1296px;
  margin: 0 auto;
}
/* personal-cover */
.personal-cover {
  background-color: black;
  padding: 72px 0;
}
.flex-row {
  display: flex;
}
.cover-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-title {
  font-size: 64px;
}
.ta-r {
  text-align: right;
}
.avatar-name {
  color: #00ffa3;
  font-size: 128px;
}
.contact-button {
  font-size: 16px;
  width: 185px;
  border-radius: 32px;
  padding: 12px 0;
}

/* personal-introduction */
.intro-bg-img {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true")
    repeat;
}
/* left-section */
.personal-introduction {
  width: 100%;
  padding: 160px 0;
}
.section-left {
  color: #fff;
}
.left-title {
  font-size: 64px;
}
.left-description {
  font-size: 24px;
}
.section-left img {
  margin-right: 16px;
}
/* right-section */
.section-right {
  outline: 3px solid tomato;
  display: flex;
  justify-content: space-around;
}
.section-right img {
  margin-right: 24px;
}
